.alumni-section {
    padding: 50px 0;
}

.alumni-section .info-section {
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    line-height: 1.4;
    text-align: left;
}

.container-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}

@media (max-width: 576px) {
    .container-content {
        text-align: justify;
    }
}
