.visi-misi-section {
    padding: 50px 0;
}

.visi-misi-section .info-section {
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    line-height: 1.4;
    text-align: left;
}

.line {
    display: inline-block;
    width: 800px;
    height: 2px;
    background: #eeee;
}

/* .container-misi ol li {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    line-height: 1.8;
} */

.container-content {
    text-align: justify;
}

/* responsive mobile */
@media (max-width: 576px) {
    .visi-misi-section .info-section {
        font-size: 1rem;
    }
}
